@font-face{font-family:'PT Sans';font-style:normal;font-weight:400;src:url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-regular.eot');src:local('PT Sans'), local('PTSans-Regular'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-regular.eot?#iefix') format('embedded-opentype'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff2') format('woff2'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-regular.woff') format('woff'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-regular.ttf') format('truetype'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-regular.svg#PTSans') format('svg');}
@font-face{font-family:'PT Sans';font-style:normal;font-weight:700;src:url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-700.eot');src:local('PT Sans Bold'), local('PTSans-Bold'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-700.eot?#iefix') format('embedded-opentype'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-700.woff2') format('woff2'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-700.woff') format('woff'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-700.ttf') format('truetype'),
url('../fonts/pt-sans-v9-latin-ext_cyrillic-ext_cyrillic_latin-700.svg#PTSans') format('svg');}