.fon2{
	background: #ffffff;
}


.fon2_1{
	background: #8b8c8a;
}
.fon3{
	background: #ffffff;
}
.fon4{
	background: url(img/59a68db41e00002700c5ff0a.png);
	height: 142px;
	width: 100%;
	    background-color: white;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    max-width: 500px;
    margin: 0 auto;
}
.fon2text1{
	 
  font-size: 33.333px;
  font-family: "PT Sans";
  color: rgb(244, 187, 0);
  line-height: 1.2;
  text-align: center;
  margin: 34px auto;
  
}
.fon5_1{
	background: #fdf3d1;
	    padding: 20px;
}

.fon2text2{
	
  font-size: 12.5px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 40px;
}


.fon2text1 {
  font-size: 33.333px;
  font-family: "PT Sans";
  color: rgb(244, 187, 0);
  line-height: 1.2;
  text-align: center;
  
}
.fon2text3{

  font-size: 21px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 50px;

   
}

.fon21text1{
  font-size: 29px;
  font-family: "PT Sans";
  color: rgb(244, 187, 0);
  line-height: 1.2;
  text-align: center;
   padding: 25px 0px;
}

.fon3text1{
	 
  font-size: 25px;
  font-family: "PT Sans";
  color: rgb(244, 187, 0);
  line-height: 1.2;
  text-align: center;
   margin-top: 55px;
   margin-bottom: 25px;
}

.fon3text2 {
  font-size: 12.5px;
  font-family: "PT Sans";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center; 
   margin-top: 30px;
}

.fon4{
	margin-top: 50px;
}
.fon4 .center{
	    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    flex-flow: wrap column;
    height: 142px;
}
.fon4text1{
	  font-size: 33.333px;
  font-family: "PT Sans";
  color: rgb(244, 187, 0);
  line-height: 1.2;
  text-align: center;
   
}

.fon51text{
  font-size: 25px;
  font-family: "PT Sans";
  color: rgb(255, 91, 91);
  
  line-height: 1.2;
  text-align: center;
   
}
.fon51text span {
	text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
}